<header>
  <div>
    <nav>
      <ul>
        <% if logged_in? %>
            <% if tem_permissao('permissaoUsuarios') %>
                <li>
                  <%= link_to "Usuarios", users_path %>
                </li>
            <% end %>
            <li>
              <ul>

              </ul>
            </li>
        <% else %>
            <li>
              <%= link_to "Log in", root_path %>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>